<form [formGroup]="contactForm" (ngSubmit)="submitContact(contactForm)">
	{{ userName | json }}
	
	<input type="text" formControlName="userName" placeholder="Please type yourname"><br>


	<!-- <div *ngIf="contactForm.userName.invalid && (contactForm.userName.dirty || contactForm.userName.touched)">
		<div *ngIf="contactForm.userName.errors.minLength">
			Please make it more than 3 
		</div>
	</div> -->

	<textarea formControlName="message"></textarea><br>

	<input type="submit" value="Submit">
</form>