<br>
<br>
<form (submit)="submitPost">
	{{ posts | json}}
	<hr>
	<input type="text" name="title" ([ngModel])="posts.title" placeholder="Title of Post"> <br>
	<textarea placeholder="Post Description"></textarea><br>

	<input type="submit" name="submit" value="Submit">
</form>
<hr>
<mat-nav-list>
    <h3 matSubheader>Manager</h3>
    <a mat-list-item routerLinkActive="active-link" routerLink="/manager/users">
      Users
    </a>
    <a mat-list-item routerLinkActive="active-link" routerLink="/manager/receipts">
      Receipts
    </a>
</mat-nav-list>